body{
    background-color: rgb(238 249 243)!important;
}


#logo{
    width: 50px;
    margin-left: 30px;

}

.imagenCont{
    width: 50%;
}

.infoContent{
    /**/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    
    /*Margenes*/
    margin: 30px;
    padding-inline: 100px;
    margin-left: auto;
    margin-right: auto;

    /*Edits de texto*/
    font-family: 'Laila';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
}

.center-bg{
    display: block!important;
    width: 100%!important;
}

.fondo2{
    background-position: center;
    background-image: url("../img/Estilo-2.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.fondo4{
    background-position: center;
    background-image: url("../img/Estilo-3.png");
    background-repeat: no-repeat;
    background-size: contain;
}
/*
#contenido-2{
    width: 100%;
    height: 343.5px;
    background-image: url("../img/Estilo-2.png");
    background-repeat: no-repeat;
    background-position: center;
}

#contenido-4{
    width: 100%;
    background-image: url("../img/Estilo-3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}*/

.pie-pagina{
    background: linear-gradient(180deg, #28C266 0%, #9AE32A 100%);
    width: 100%;
    padding: 20px;
    text-align: center;
    /*Flex*/
}

.marca {
    width: 100%;
    max-width: 300px;
}

.derechos{
    text-align: center;
}

.legalidades{
    text-align: start;
}

.redes{
    width: 50px;
}

#invitacion{
    background: linear-gradient(107.62deg, #28C266 1.42%, #ADFF2F 93.5%);
    border-radius: 20px 20px 100px 20px;
    display: flex;
    align-items: center;

}
#invitacion-texto{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

button{
    color: rgb(255, 255, 255);
    width: 131px;
    height: 40px;
    background: rgba(49, 183, 151, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.521);
    border-radius: 100px!important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
